[submodule "mtrack_project/rapidsms"]
	path = mtrack_project/rapidsms
	url = git://github.com/daveycrockett/rapidsms.git
[submodule "mtrack_project/healthmodels"]
	path = mtrack_project/healthmodels
	url = git://github.com/daveycrockett/healthmodels.git
[submodule "lib/auditcare"]
	path = lib/auditcare
	url = git://github.com/dimagi/auditcare.git
[submodule "mtrack_project/uganda_common"]
	path = mtrack_project/uganda_common
	url = git://github.com/mossplix/uganda_common
