# for postgresql:
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "mtrack",
        "USER": "mtrack",
        "PASSWORD": "mtrack",
        "HOST": "localhost",
    }
}

COUNTRY = 'uganda_country'
